.add-product__container {
  color: #6e6893;
  background-color: #f2f0f9;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 100px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.add-product__title {
  max-width: 580px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 43px;
}

.add-product__form {
  max-width: 580px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  background-color: white;
  border-radius: 8px;
  margin: 0 auto;
  padding: 28px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.add-product__label {
  display: block;
  text-indent: 10px;
  margin-bottom: 5px;
  outline: none;
}

.add-product__input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  outline: none;
  border: none;
  border-radius: 6px;
  color: #6e6893;
  background-color: #f4f2ff;
  margin: 5px auto 12px auto;
  padding-left: 10px;
}

.add-product__input_large {
  min-height: 112px;
  resize: none;
}

.add-product__input:disabled {
  background-color: #eeeeee;
}

.add-product__discount {
  display: flex;
}

.add-product__checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #f4f2ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 5px 10px 12px 0;
}

.add-product__checkbox:before {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #f4f2ff;
  border-radius: 8px;
}

.add-product__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 11px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.add-product__checkbox:checked:after {
  opacity: 1;
}

.add-product__checkbox:hover:not(:disabled):before,
.add-product__input:focus,
.add-product__input:hover:not(:disabled) {
  box-shadow: 0 0 10px rgba(0, 113, 227, 0.5);
}

.add-product__checkbox:disabled:before {
  background-color: #cccccc;
}

.add-product__button {
  margin-left: auto;
  width: 200px;
  height: 39px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #ffffff;
  background-color: #6d5bd0;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  position: absolute;
  bottom: 28px;
  right: 134px;
}

.add-product__close {
  position: absolute;
  top: 20px;
  right: 30px;
}
