.list-product__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid var(--lightgreyviolet-color, #C6C2DE);
  margin-bottom: 20px;
  padding-bottom: 7px;
}

.list-product__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--greyviolet-color, #6e6893);  
  margin-left: 20px;
}

.list-product__sum {
  margin-right: 20px;
}

.list-product__block-table {
  background-color: var(--white-color, #ffffff);  
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow-x: auto;
}

.list-product__table {
  min-width: 1100px;
  border-collapse: collapse;
}

.list-product__table-head {
  height: 45px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: var(--greyviolet-color, #6E6893);
  background-color: var(--nearlyviolet-color, #f2f0f9);
  border-top: 1px solid var(--lightgreyviolet-color, #C6C2DE);
}

.list-product__table-tr {
  height: 60px;
}

.list-product__table-td {
  border-bottom: 1px solid var(--lightgreyviolet-color, #C6C2DE);
  padding: 0 0 0 15px;
}

.list-product__table-td:first-child {
  width: 94px;
}

.list-product__table-td:nth-child(2) {
  width: 304px;
}

.list-product__table-td:nth-child(3) {
  width: 175px;
}

.list-product__table-td:nth-child(4) {
  width: 68px;
  text-align: center;
  color: var(--greyviolet-color, #6e6893);
}

.list-product__table-td:nth-child(5) {
  width: 105px;
  text-align: center;
}

.list-product__table-td:nth-child(6) {
  width: 140px;
  text-align: center;
}

.list-product__table-td:nth-child(7) {
  width: 70px;

}

.list-product__table-td:nth-child(8) {
  width: 145px;
  text-align: center;
}

.list-product__table-tr:last-child .list-product__table-td {
  border-bottom: none;
}

.list-product__table-tr {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--darkgrey-color, #25213B);
}

.list-product__table-button {
  border: none;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
}

.list-product__table-button:not(:last-child) {
  margin-right: 20px;
}

.list-product__button-img {
  background-image: url("../img/yes-img.svg");
}

.list-product__button-edit {
  background-image: url("../img/edit.svg");
}

.list-product__button-delete {
  background-image: url("../img/delete.svg");
}

.list-product__table-nav {
  min-width: 780px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 15px 20px;
}

.list-product__table-subnav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.list-product__table-filter {
  position: relative;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--darkgrey-color, #25213B);
  background-color: var(--white-color, #ffffff);
  border: 1px solid var(--lightgreyviolet-color, #c6c2de);
  border-radius: 6px;
  padding: 10px 10px 10px 39px;
}

.list-product__table-filter:before {
  content: "";
  position: absolute;
  left: 10px;
  background-image: url("../img/filter.svg");
  width: 20px;
  height: 20px;
}

.list-product__table-input {
  height: 40px;
  width: 392px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: var(--greyviolet-color, #6E6893);
  background: var(--lightviolet-color, #F4F2FF);
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 10px 40px;
}

.list-product__table-search {
  position: relative;
}

.list-product__table-search:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url("../img/search.svg");
  width: 20px;
  height: 20px;
}

.list-product__table-add {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--white-color, #ffffff);
  background-color: var(--violet-color, #6d5bd0);
  border: none;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px 16px;
}

.list-product__table-foot {
  min-width: 1100px;
  background-color: var(--lightviolet-color, #f4f2ff);
}

.list-product__table-footblock {
  min-width: 500px;
  height: 45px;
  display: flex;
  gap: 50px;
  justify-content: end;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: var(--greyviolet-color, #6e6893);
  padding: 0 10px;
}

.list-product__table-select {
  width: 32px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: var(--greyviolet-color, #6e6893);
  background-color: inherit;
  border: none;
  appearance: none;
  overflow: hidden;
  background-image: url("../img/caret.svg");
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
}

.list-product__table-content {
  display: flex;
  gap: 3px;
}

.list-product__table-arrow {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  width: 6px;
  height: 10px;
}

.list-product__table-left {
  background-image: url("../img/left.svg");
}

.list-product__table-right {
  background-image: url("../img/right.svg");
}

.list-product__table-add:hover, .list-product__table-add:focus {
  background-color: var(--greyviolet-color, #6e6893);
  transition: all 0.8 ease; 
}

.list-product__table-filter:hover, .list-product__table-filter:focus {
  background-color: var(--nearlyviolet-color, #f2f0f9);
  transition: all 0.8 ease; 
} 

.list-product__table-input:focus,
.list-product__table-input:hover:not(:disabled) {
  box-shadow: 0 0 10px rgba(0, 113, 227, 0.5);
}


.list-product__table-left:hover,
.list-product__table-left:focus {
  background-image: url("../img/left-hover.svg");
}

.list-product__table-right:hover,
.list-product__table-right:focus {
  background-image: url("../img/right-hover.svg");
}

.list-product__button-img:hover,
.list-product__button-img:focus {
  background-image: url("../img/yes-img-hover.svg");
}

.list-product__button-edit:hover,
.list-product__button-edit:focus {
  background-image: url("../img/edit-hover.svg");
}

.list-product__button-delete:hover,
.list-product__button-delete:focus {
  background-image: url("../img/delete-hover.svg");
}

.list-product__button-img:active,
.list-product__button-edit:active,
.list-product__button-delete:active {
  border: 1px solid var(--greyviolet-color, #6e6893);
}